$colore_bottone_1: red;
$colore_bottone_1: yellow;

$colore_background_nav: black;
$colore_testo: white;

$padding_nav: 1.5rem;
$margin_elementi: 1rem;

$altezza_immagine_sfondo: 20rem;
$larghezza_immagine_sfondo: 100%;